/* 
** cines.css 
*/



.horario  {
	padding-left: 5px;
	padding-right: 5px;
}

section {
	padding-top: 40px;
	margin-bottom: -10px;
}

#main h1, #prefs h1 {
	font-size: 90%;
	font-weight: normal;
}

#mail h2, #prefs h2 {
	margin-bottom: -30px;
}

#footer {
	margin-top:50px; 
	padding-top: 10px;
	border-top: 1px solid #ccc;
}

.navbar .brand {
	font-size: 16px;
	padding-top: 10px;
}

.label-rating {
	background-color: #E4BD1E;
	color: #000;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	font-weight: bold;
}

td.first-col {
	width: 50%;
}

/* accordion */
#prefs .accordion-heading {
    background-color: #444;
}

#prefs .accordion-group {
    border-color: #444;
}

#prefs a.accordion-toggle {
    color: #fff;
}

#prefs .accordion-inner {
    padding: 0 0;
}

#prefs .table td {
    border-top: none;
}

