{% extends 'base.html' %}

{% block head_title %}
    Horarios de Películas en cartelera en los Cines del Perú | Cartelera Perú
{% endblock %}

{% block head_meta %}
	<meta name="keywords" content="peliculas, horarios, pelicula, carterlera, cine, estrenos, 
		{% for chain in chains %} {{ chain.name }}, {% endfor %} ">
{% endblock %}

{% block head_link %}
    <!-- Stylesheets -->
    {% if not compress_css_js %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/static/css/cines.css" rel="stylesheet">
    {% else %}
        <link rel="stylesheet" href="/static/css/about-all.min.css" media="screen" >
    {% endif %}


{% endblock %}

{% block head_script %}
{% endblock %}

{% block nav_menu %}
	    <div class="navbar-header">
            <a class="navbar-brand" rel='in-app' href="/index.html">CarteleraPeru.com</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/"  rel='in-app'>OK</a>
            </li>
        </ul>

{% endblock %}


{% block content %}

<div class="container-fluid">
<div class="row-fluid">
<div class="col-md-1"></div>
<div class="col-md-10">
	<div class="well">
		<h1>Cartelera Perú</h1>
		<p>La forma más rápida de saber los horarios de las películas en cartelera en los cines del Perú</p>
		
		<p>Hay otras páginas que recogen los horarios de las películas en cartelera, pero la mayoría &mdash;empezando por las de los propios cines&mdash; son lentas y poco amigables. La idea de CarteleraPerú es consultar los horarios de las películas de forma <b>rápida</b> y <b>sencilla</b>, independientemente de si estás en tu computadora o en tu dispositivo móvil favorito.</p>
		
		<h2>¿Cómo está hecho?</h2>
		<p>La información de CarteleraPeru es obtenida de lás páginas web de los propios cines.  Si bien tratamos de que sea lo más exacta posible, a veces pueden introducirse pequeños errores.</p>
        <p>Este proyecto empezó en diciembre de 2012. CarteleraPerú aparece entre los 10 primeros resultados de búsqueda de Google. (Por ejemplo, prueba a buscar en Google <em>horario [la película que quieres ver] larcomar</em>, o el cine que quieras.)</p>

		<p>Técnicamente hablando, la página es generada cada hora por un programa en Python, que usa BeautifulSoup para interpretar la información, Jinja2 para generar las páginas y Boostrap para diagramarlas. (Boostrap es la libraría responsable de deliberadamente espartana diagramación de CarteleraPeru.)  El código fuente se encuentra en <a href="https://github.com/robertozoia" >GitHub</a>.
		</p>
	</div>
</div>
<div class="col-md-1"></div>
</div>

</div><!-- end container -->

{% endblock %}


{% block bottom_js %}

{% if not compress_css_js %}
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
{% else %}
<!-- deffered loading of js -->
<script type="text/javascript">
    // Add a script element as a child of the body
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/static/js/about-all.min.js";
    document.body.appendChild(element);
    }

    // Check for browser support of event handling capability
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
</script>
{% endif %}

{% endblock %}

