{% extends 'base.html' %}

{% block head_title %}
    Horarios de Películas en cartelera en los Cines del Perú | Cartelera Perú
{% endblock %}

{% block head_meta %}
	<meta name="keywords" content="peliculas, horarios, pelicula, carterlera, cine, estrenos, 
		{% for chain in chains %} {{ chain.name }}, {% endfor %} ">
{% endblock %}

{% block head_link %}
    <link rel="stylesheet" href="/static/css/cines.css">
{% endblock %}

{% block head_script %}
{% endblock %}

{% block nav_menu %}

            <a class="brand hidden-phone" rel="in-app" href="/index.html">CarteleraPeru.com</a>
            <a href="/preferences.html" rel="in-app" class="btn btn-primary btn-small pull-right"><i class="icon-cogs icon-white"></i><span class="hidden-phone hidden-tablet"> Preferencias</span> 
            </a>
            <a href="/about.html" rel="in-app" class="btn btn-inverse btn-small pull-right" style="margin-right: 10px;"> 
				<i class="icon-info-sign icon-white"></i> <span class="hidden-phone hidden-tablet"> Acerca de</span>
		    </a>			

{% endblock %}


{% block content %}

<div class="container-fluid">
<div class="row-fluid">
<div id="main" class="span6">
<section id="home" style="padding-top: 0px;">
<h1 style="line-height: 1.1;">Horarios de películas en cartelera en los cines del Perú</h1>
</section>
{% for chain in chains %}
<h2>{{ chain.name }}</h2>
	
	{% for theater in chain.theaters %}

	<div rel="theater-box" id="{{ theater.name|escape|urlize|replace(' ', '-') }}-box">
	<section id="{{ theater.name|escape|urlize|replace(' ', '-') }}-opt">
	<h3>{{ chain.name }} - {{ theater.name }}</h3>
	
		<table class="table table-striped table-condensed">
			<tbody>
			{% if theater.movies %}
                {% for movie in theater.movies %}
                    <tr	itemscope itemtype="http://schema.org/Event">
                        <td class="first-col"
                        ><span itemprop="name">{{ movie.name }}</span>
                        {% if movie.isTranslated %}<span class="label" title=
                        "Doblada" >Dob</span>{% endif %}
                        {% if movie.isSubtitled %}<span class="label" title="Subtitulada">Sub</span>{% endif %}
                        {% if movie.isHD %}<span class="label label-info" title="Alta definición">HD</span>{% endif %}
                        {% if movie.is3D %}<span class="label label-info" title="3D">3D</span>{% endif %}
                        <td>
                        {% for st in movie.showtimes %}
                            <span itemprop="startDate" content="{{ today }}T{{ st }}"class="horario" >
                                {{ st }}</span>
                                <span itemprop="location" content="{{ theater.name }}"></span>
                        {% endfor %}
                        </td>	
                    </tr>
                    {% endfor %} <!-- movie -->
            {% else %}
                <p>La cartelera de este cine no está disponible.</p>
            {% endif %}
			</tbody>
		</table>
	</section>
	</div><!-- end box -->
	{% endfor %}<!-- cine -->
{% endfor %}

</div> <!-- end span10 -->
<div class="span3 hidden-phone">

</div>
</div> <!-- end row -->

<div class="row-fluid">
<div class="span12" id="footer">
<ul class="unstyled">
	<li><a href="./about.html">Acerca de CarteleraPeru.com</a></li>
	<li>Actualizado: {{ now }}</li>
</ul>
</div>
<div class="span1"></div>
</div>
</div><!-- end container -->

{% endblock %}

{% block bottom_scripts %}

 	$(document).ready(function(){

        $('[rel="in-app"]').on('click', function(event) {
            // this is needed to prevent iOS app mode to leave app mode when
            // clicking links
            var baseurl = 'http://carteleraperu.com';
            event.preventDefault();
            location.href = $(this).attr("href");
        });

 		var cookieName = 'cartelera';
 		var cookieVersion = 1.1;
	
		function initialize(data) {

			if (data['version']==cookieVersion) {
				delete data['version'];
				for (var key in data) {
					$('#'+key+'-box').toggle(data[key]);
				}
			}
		}

		$.cookie.json = true;
		if ($.cookie(cookieName) ) {
			// cookie exists, read contents
			var data = $.cookie(cookieName);
			initialize(data);

		} else {
			$('[rel="theater-box"]').show();
		}

	});

{% endblock %}
