{% extends 'base.html' %}

{% block head_title %}
    Horarios de Películas en cartelera en los Cines del Perú | Cartelera Perú
{% endblock %}

{% block head_meta %}
	<meta name="keywords" content="peliculas, horarios, pelicula, carterlera, cine, estrenos, 
		{% for chain in chains %} {{ chain.name }}, {% endfor %} ">
{% endblock %}

{% block head_link %}
	<link rel="stylesheet" href="/static/css/add2home.css">
{% endblock %}

{% block head_script %}
	<script type="text/javascript" src="/static/js/add2home.js" charset="utf-8"></script>
{% endblock %}

{% block nav_menu %}
	      	<!-- fb and twitter buttons -->
			<ul class="nav">
				<li>
					<a href="https://twitter.com/intent/tweet?screen_name=Cartelera_Peru&text=http%3A%2F%2Fcarteleraperu.com%20Los%20horarios%20de%20las%20pel%C3%ADculas%20de%20los%20principales%20cines%20del%20Per%C3%BA%20en%20una%20sola%20p%C3%A1gina" data-lang="es" data-dnt="true"><img src="static/img/twitter-bird-dark-bgs.png"></a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
				</li>
				<li style="padding-top: 10px;">
				<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcarteleraperu.com&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font=lucida+grande&amp;height=21&amp;appId=117724708313052" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
				</li>
			</ul>

			<div class="nav-collapse">
				<ul class="nav">
					{% for chain in chains %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ chain.name }}<b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% for theater in chain.theaters %}
							<li><input checked
									style="margin-bottom: -35px; margin-left: 8px;" 
									rel='filter-action' 
									id= "{{ theater.name|escape|urlize|replace(' ', '-') }}"
									type="checkbox">
								<a style="padding: 3px 15px 3px 25px;" 
								    href="#{{ theater.name|escape|urlize|replace(' ', '-') }}-opt">{{ theater.name }}</a></li>
							{% endfor %}
				
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div> <!-- end nav-collapse -->

{% endblock %}
{% block content %}

<div class="container-fluid">
<div class="row-fluid">
<div class="span6">
<section id="home" style="padding-top: 0px;">
<h1>Horarios de películas en cartelera en los cines del Perú</h1>
</section>
{% for chain in chains %}
<h2>{{ chain.name }}<i style="margin: 7px 0 0 4px;" class="icon-arrow-right"></i></a>
</h2>
	
	{% for theater in chain.theaters %}

	<div id="{{ theater.name|escape|urlize|replace(' ', '-') }}-box">
	<section id="{{ theater.name|escape|urlize|replace(' ', '-') }}-opt">
	<h3>{{ theater.name }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="#home" alt="Volver al inicio."><i class="icon-home" style="margin-top: 5px;"></i></a></h3>
	
		<table class="table table-striped table-condensed">
			<tbody>
			{% if theater.movies %}
                {% for movie in theater.movies %}
                    <tr	itemscope itemtype="http://schema.org/Event">
                        <td class="first-col"
                        ><span itemprop="name">{{ movie.name }}</span>
                        {% if movie.isTranslated %}<span class="label" title=
                        "Doblada" >Dob</span>{% endif %}
                        {% if movie.isSubtitled %}<span class="label" title="Subtitulada">Sub</span>{% endif %}
                        {% if movie.isHD %}<span class="label label-info" title="Alta definición">HD</span>{% endif %}
                        {% if movie.is3D %}<span class="label label-info" title="3D">3D</span>{% endif %}
                        <td>
                        {% for st in movie.showtimes %}
                            <span itemprop="startDate" content="{{ today }}T{{ st }}"class="horario" >
                                {{ st }}</span>
                        {% endfor %}
                        </td>	
                    </tr>
                    {% endfor %} <!-- movie -->
            {% else %}
                <p>La cartelera de este cine no está disponible.</p>
            {% endif %}
			</tbody>
		</table>
	</section>
	</div><!-- end box -->
	{% endfor %}<!-- cine -->
{% endfor %}

</div> <!-- end span10 -->
<div class="span3 hidden-phone">
    {% include 'rightcol-ad.html' %}
</div>
</div> <!-- end row -->

<div class="row-fluid">
<div class="span12" id="footer">
<ul class="unstyled">
	<li><a href="./about.html">Acerca de CarteleraPeru.com</a></li>
	<li>Actualizado: {{ now }}</li>
</ul>
</div>
<div class="span1"></div>
</div>
</div><!-- end container -->

{% endblock %}

{% block bottom_scripts %}

 	$(document).ready(function(){

 		var cookieName = 'cartelera';
 		var cookieVersion = 1.1;

 		function handleAction(e) {
 			var id = e.target.id;
 			$('#'+id + '-box').toggle(this.checked);
 			writeCookie();
		}
 	
		function initialize(data) {

			if (data['version']==cookieVersion) {
				delete data['version'];
				for (var key in data) {
					if (data[key]) {
						$('#'+ key).attr('checked', '');
						
					} else {
						$('#'+ key).removeAttr('checked');
					}
					$('#'+key+'-box').toggle(data[key]);

				}
			}
		}

		function writeCookie()  {
			// no cookie set, initialize defaults and set cookie
			var data = new Object();
			
			data['version'] = cookieVersion;  // data format version

			// iterate checkboxes and retrive values
			$("[rel='filter-action']").map(function(){
				data[this.id]=this.checked;
			});

			// set cookie
			$.cookie(cookieName, data, { expires: 360 });
		}

		$.cookie.json = true;
		if ($.cookie(cookieName) ) {
			// cookie exists, read contents
			var data = $.cookie(cookieName);
			initialize(data);

		} else {
			writeCookie();
		}


 		$("[rel='filter-action']").on('change', handleAction);

	});

{% endblock %}
