{% extends 'base.html' %}

{% block head_title %}
    Cartelera de los Cines del Perú | Estrenos |Cartelera Perú
{% endblock %}

{% block head_meta %}
{% endblock %}

{% block head_link %}

    <!-- Stylesheets -->
    {% if not compress_css_js %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/static/css/addtohomescreen.css" rel="stylesheet">
        <link href="/static/css/cines.css" rel="stylesheet">
    {% else %}
        <link rel="stylesheet" href="/static/css/cines-all.min.css" media="screen" >
    {% endif %}

{% endblock %}

{% block head_script %}
{% endblock %}

{% block nav_menu %}
    <div class="navbar-header">
        <button type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse" 
            data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="in-app" href="/index.html">CarteleraPeru.com</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
        {% for chain in chains %}
            <li>        
                <a rel='in-app' href="#{{ chain.name|escape|urlize|replace(' ', '-')|replace('(','_')|replace(')','_') }}">
                {{ chain.name }}
                </a>
            </li>
        {% endfor %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs" style="margin-top: 15px;">
                {% include 'fb-like.html' %}
            </li>
            <li>
                <a href="/about.html" rel="in-app"> 
                    <span class="glyphicon glyphicon-info-sign glyphicon-white"></span> 
                    <span class="hidden-xs hidden-sm"> Acerca de </span>
                </a>
            </li>
            <li>
                <a href="/preferences.html" rel="in-app">
                    <span class="glyphicon glyphicon-cog glyphicon-white"></span>
                    <span class="hidden-xs hidden-sm"> Preferencias </span>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}


{% block content %}

<div class="container-fluid hidden-xs">

<div class="row-fluid">
    {% include "adsense.html" %}
</div>

</div>

<div class="container-fluid">
<div class="row-fluid">
<div id="main" class="col-md-10">

<section id="home" style="padding-top: 0px;">
<h1 style="line-height: 1.1;">Cartelera en los cines del Perú</h1>
</section>


{% for chain in chains %}
    <a name="{{ chain.name|escape|urlize|replace(' ', '-')|replace('(','_')|replace(')','_') }}"></a>
	
    {% for theater in chain.theaters %}

	<div 
        rel="theater-box" 
        id="{{ theater.name|escape|urlize|replace(' ', '-')|replace('(','_')|replace(')','_') }}-box"
        {% if loop.first %}
            style="padding-top: 70px;"
        {% endif %}

    >
	<section id="{{ theater.name|escape|urlize|replace(' ', '-')|replace('(','_')|replace(')','_') }}-opt">
	<h3>{{ chain.name }} - {{ theater.name }}</h3>
	
		<table class="table table-striped table-condensed">
			<tbody>
			{% if theater.movies %}
                {% for movie in theater.movies %}
                    <tr	itemscope itemtype="http://schema.org/Event">
                        <td class="first-col"
                        ><span itemprop="name">{{ movie.name }}</span>
                        {% if movie.isTranslated %}<span class="label label-default" title=
                        "Doblada" >Dob</span>{% endif %}
                        {% if movie.isSubtitled %}<span class="label label-success" title="Subtitulada">Sub</span>{% endif %}
                        {% if movie.isHD %}<span class="label label-info" title="Alta definición">HD</span>{% endif %}
                        {% if movie.is3D %}<span class="label label-info" title="3D">3D</span>{% endif %}
                      	{% if movie.isDbox %}<span class="label label-rating" title="DBOX">DBOX</span>{% endif %}
                        <td>
                        {% for st in movie.showtimes %}
                            <span itemprop="startDate" content="{{ today }}T{{ st }}"class="horario" >
                                {{ st }}</span>
                                <span itemprop="location" content="{{ theater.name }}"></span>
                        {% endfor %}
                        </td>	
                    </tr>
                    {% endfor %} <!-- movie -->
            {% else %}
                <p>La cartelera de este cine no está disponible.</p>
            {% endif %}
			</tbody>
		</table>
	</section>
	</div><!-- end box -->
	{% endfor %}<!-- cine -->
{% endfor %}

</div> <!-- end span10 -->
<div class="span3 hidden-xs">

</div>
</div> <!-- end row -->

<div class="row-fluid">
<div class="col-md-12" id="footer">
<ul class="unstyled">
	<li><a href="./about.html">Acerca de CarteleraPeru.com</a></li>
	<li>Actualizado: {{ now }}</li>
</ul>
</div>
<div class="col-md-1"></div>
</div>
</div><!-- end container -->

{% endblock %}

{% block bottom_js %}

{% if not compress_css_js %}
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/json2.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/css/addtohomescreen.min.css"></script>
    <script src="/static/js/cines.js"></script>
{% else %}
<!-- deffered loading of js -->
<script type="text/javascript">
    // Add a script element as a child of the body
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/static/js/cines-all.min.js";
    document.body.appendChild(element);
    }

    // Check for browser support of event handling capability
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
</script>
{% endif %}

{% endblock %}
