<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="fb:admins" content="591472802" />
	<title>Horarios de películas en cartelera en los Cines del Perú | Cartelera Perú</title>
	<meta name="author" content="Cartelera Perú punto com" >
	
	<meta name="description" content="Películas en cartelera en los cines del Perú. Estrenos películas" >
	<meta name="keywords" content="peliculas, pelicula, carterlera, cine, estreno">
	
	<meta name="Revisit-after" content="1 days">

    <!-- Bootstrap -->
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
        	padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>

	<link href="static/css/bootstrap-responsive.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
 	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- JQuery libraries -->
	<script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>



<style type="text/css" media="screen">
.horario  {
	padding-left: 5px;
	padding-right: 5px;
}

section {
	padding-top: 40px;
	margin-bottom: -10px;
}

h1 {
	font-size: 90%;
	font-weight: normal;
}

h2 {
	/* margin-bottom: -30px; */
}

#footer {
	margin-top:50px; 
	padding-top: 10px;
	border-top: 1px solid #ccc;
}

table.horarios {
	width: 90%;
}

td.cine {
	width: 30%;
}
td.attr {
	width: 10%;
}


.navbar .brand {
	font-size: 16px;
	padding-top: 10px;
}

.moviebox {
	font-size: 8pt;
}

.moviebox label {
	display: inline;
	padding-left: 2px;
}
</style>

<body>	

<script>
	
	$(document).ready(function() {
		$('.uiGrid').hide();

		$('.chk_movie').change(function(event){
			var detail_movie = "#detail_" + event.target.id;
			alert(detail_movie);
			$(detail_movie).hide();
		});
	});
</script>
	

<div class="container-fluid">

<!-- filter header -->
<div class="row-fluid filter">
	<div class="span4">
		<div class="moviebox">
		<ul class="unstyled">
		{% for p in peliculas %}
			<li><input class="chk_movie" id="movie_{{ loop.index0 }}" type="checkbox" />
			<label for="movie_{{ loop.index0 }}">{{ p.pelicula }}</label></li>
		{% endfor %}
		</ul>
		</div>

	</div><!-- span4 -->

	<div class="span8">
	</div><!-- span8 -->

<div><!-- row-fluid -->


<div class="row-fluid">
<div class="span9">
<section id="home" style="padding-top: 0px;">
<h1>Películas en cartelera en los cines del Perú</h1>
</section>

{% for pelicula in peliculas %}
<div id="detail_movie_{{ loop.index0 }}"> 
<h2>{{ pelicula['pelicula'] }}</h2>

<table class="table table-stripped table-condensed">
<tbody>
	{% for cadena in pelicula['cadenas'] %}
	<tr>
		<td colspan="3"><h3>{{ cadena['cadena'] }}</h3></td>
	</tr>
		{% for cine in cadena['cines'] %}
		<tr>
			<td class="cine">{{ cine['cine'] }}</td>
		
			{% for sala in cine['salas'] %}
			
				{% if loop.index > 1 %}<tr><td class="cine">&nbsp;</td>{% endif %}
				<td class="attr">
					{% if sala['isDoblada'] %}<span class="label label-warning" title="Doblada" >Dob</span>{% endif %}
					{% if sala['isSubtitulada'] %}<span class="label label-warning" title="Subtitulada">Sub</span>{% endif %}
					{% if sala['isHD'] %}<span class="label label-info" title="Alta definición">HD</span>{% endif %}
					{% if sala['is3D'] %}<span class="label label-info" title="3D">3D</span>{% endif %}
				</td>
				<td>
					{% for horario in sala['horarios'] %}
						<span class="horario">{{ horario }}</span>
					{% endfor %}
				</td>
			</tr>
			{% endfor %}<!-- sala -->
		</tr>
		{% endfor %}<!-- cine -->
	</tr>
	{% endfor %}<!-- cadena -->
</tbody>
</table>
</div>
{% endfor %}<!-- pelicula -->

</div><!-- end span -->
</div><!-- end row -->
</div>



<script src="static/js/bootstrap-transition.js"></script>
<script src="static/js/bootstrap-alert.js"></script>
<script src="static/js/bootstrap-modal.js"></script>
<script src="static/js/bootstrap-dropdown.js"></script>
<script src="static/js/bootstrap-scrollspy.js"></script>
<script src="static/js/bootstrap-tab.js"></script>
<script src="static/js/bootstrap-tooltip.js"></script>
<script src="static/js/bootstrap-popover.js"></script>
<script src="static/js/bootstrap-button.js"></script>
<script src="static/js/bootstrap-collapse.js"></script>
<script src="static/js/bootstrap-carousel.js"></script>
<script src="static/js/bootstrap-typeahead.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32882889-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
