{% extends 'base.html' %}

{% block head_title %}
    Horarios de Películas en cartelera en los Cines del Perú | Cartelera Perú
{% endblock %}

{% block head_meta %}
	<meta name="keywords" content="peliculas, horarios, pelicula, carterlera, cine, estrenos, 
		{% for chain in chains %} {{ chain.name }}, {% endfor %} ">
{% endblock %}

{% block head_link %}
    <link rel="stylesheet" href="/static/css/iphone-checkboxes-style.min.css">

{% endblock %}

{% block head_script %}
{% endblock %}

{% block nav_menu %}
            <a class="brand" rel='in-app' href="/index.html">CarteleraPeru.com</a>
            <a href="/"  rel='in-app' class="btn btn-primary btn-small pull-right">Volver</a>

{% endblock %}


{% block content %}

<div class="container-fluid">
<div class="row-fluid">
<div id="prefs" class="span5">
<p>¿Qué cines quieres ver en tu página de CarteleraPerú?</p>

<form class="form">
    {% for chain in chains %}
    <div class="accordion" id="accordion2">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" 
                    data-toggle="collapse"
                    data-parent="#accordion2"
                    href="#collapse-{{ chain.name|escape|urlize|replace(' ', '-') }}"
                >
                {{ chain.name }}
                </a>
            </div>  <!-- accordion heading -->
            <div id="collapse-{{ chain.name|escape|urlize|replace(' ', '-') }}"
                class="accordion-body collapse 
                    {# open first accordion, close the rest #}
                    {% if loop.first %} in {% endif %}
                ">
                <div class="accordion-inner">
                    <table class="table table-striped" style="margin-bottom: 0;">
                    <tbody>
                    {% for theater in chain.theaters %}
                        <tr>
                            <td style="vertical-align: middle !important;">
                                {{ theater.name }}
                            </td>
                            <td>
                                <input 
                                    id="{{ theater.name|escape|urlize|replace(' ', '-') }}" 
                                    type="checkbox" 
                                    rel="filter-action"
                                    name="{{ theater.name|escape|urlize|replace(' ', '-') }}"
                                    checked="checked"
                                >
                            </td> 
                        </tr>
                    {% endfor %}<!-- cine -->
                    </tbody>
                    </table>
                        
                </div>  <!-- accordion inner -->
            </div>  <!-- accordion body -->
        </div> <!-- accordion group -->
        
    </div> <!--  accordion -->
    {% endfor %}  <!-- chain -->
</form>

</div><!--  end span6 --> 
<div class="span1"></div>
</div>  <!-- end row -->
</div><!-- end container -->

{% endblock %}

{% block bottom_js %}

<script type="text/javascript">
    // Add a script element as a child of the body
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/static/js/preferences-all.min.js";
    document.body.appendChild(element);
    }

    // Check for browser support of event handling capability
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
</script>

{% endblock %}

