{% extends 'base.html' %}

{% block head_title %}
    Horarios de Películas en cartelera en los Cines del Perú | Cartelera Perú
{% endblock %}

{% block head_meta %}
	<meta name="keywords" content="peliculas, horarios, pelicula, carterlera, cine, estrenos, 
		{% for chain in chains %} {{ chain.name }}, {% endfor %} ">
{% endblock %}

{% block head_link %}
    <!-- Stylesheets -->
    {% if not compress_css_js %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/switchery.css">
        <link href="/static/css/cines.css" rel="stylesheet">
    {% else %}
        <link rel="stylesheet" href="/static/css/preferences-all.min.css" media="screen" >
    {% endif %}


{% endblock %}

{% block head_script %}
{% endblock %}

{% block nav_menu %}
    <div class="navbar-header">
        <a class="navbar-brand" rel='in-app' href="/index.html">CarteleraPeru.com</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/"  rel='in-app'>OK</a>
        </li>
    </ul>
    

{% endblock %}


{% block content %}

<div class="container-fluid">
<div class="row-fluid">
<div id="prefs" class="col-md-6">
<p>¿Qué cines quieres ver en tu página de CarteleraPerú?</p>

<form class="form">
    <div class="panel-group" id="accordion" role="tablist" ariamultiselectable="true">

    {% for chain in chains %}
    <div class="panel panel-default"
    >
        <div 
            class="panel-heading" 
            role="tab" 
            id="heading-{{ chain.name|escape|urlize|replace(' ',
                    '_')|replace('(','_')|replace(')','_') }}"
        >
            <h4 class="panel-title">  
                <a 
                    data-toggle="collapse" 
                    data-parent="#accordion"
                    href="#collapse-{{ chain.name|escape|urlize|replace(' ',
                    '_')|replace('(','_')|replace(')','_') }}"
                    aria-expanded="true" 
                    aria-controls="collapse-{{ chain.name|escape|urlize|replace(' ',
                    '_')|replace('(','_')|replace(')','_') }}"
                >
                {{ chain.name }}
                </a>
            </h4>
        </div>

        <div id="collapse-{{ chain.name|escape|urlize|replace(' ',
                    '_')|replace('(','_')|replace(')','_') }}"
            class="panel-collapse collapse" 
            role="tabpanel"
            aria-labelledby="heading-{{ chain.name|escape|urlize|replace(' ',
                    '_')|replace('(','_')|replace(')','_') }}"
        >
            <div class="panel-body">

                <table class="table table-striped table-hover" style="margin-bottom: 0;">
                <tbody>
                {% for theater in chain.theaters %}
                    <tr>
                        <td style="vertical-align: middle !important;">
                            {{ theater.name }}
                        </td>
                        <td>
                            <input 
                                id="{{ theater.name|escape|urlize|replace(' ', '-')|replace('(','_')|replace(')','_') }}" 
                                type="checkbox"
                                class="js-switch"
                                rel="filter-action"
                                name="{{ theater.name|escape|urlize|replace(' ', '-')|replace('(','_')|replace(')','_') }}"
                                checked="checked"
                            >
                        </td> 
                    </tr>
                {% endfor %}<!-- cine -->
                </tbody>
                </table>          
            </div>  <!-- panel-body -->

        </div><!-- panel-collapse -->
    </div><!-- panel -->
    {% endfor %}  <!-- chain -->
    </div><!-- panel-group -->
</form>
</div><!--  end col-md-6 --> 
<div class="col-md-1"></div>
</div>  <!-- end row -->
</div><!-- end container -->

{% endblock %}

{% block bottom_js %}

{% if not compress_css_js %}
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/json2.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/switchery.js"></script>
    <script src="/static/js/preferences.js"></script>
{% else %}
<!-- deffered loading of js -->
<script type="text/javascript">
    // Add a script element as a child of the body
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/static/js/preferences-all.min.js";
    document.body.appendChild(element);
    }

    // Check for browser support of event handling capability
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
</script>
{% endif %}

{% endblock %}

