<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="fb:admins" content="591472802" />
	<title>Ajustes | Cartelera Perú</title>
	<meta name="author" content="Cartelera Perú punto com" >
	
	<meta name="description" content="Películas en cartelera en los cines del Perú. Estrenos películas" >
	<meta name="keywords" content="peliculas, horarios, pelicula, carterlera, cine, estrenos">
	
	<meta name="Robots" content="all">
	<meta name="Revisit-after" content="1 days">

    <!-- Bootstrap -->
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<style>
		body {
        	padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>

	<link href="static/css/bootstrap-responsive.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
 	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->




<style type="text/css" media="screen">


#footer {
	margin-top:50px; 
	padding-top: 10px;
	border-top: 1px solid #ccc;
}

.navbar .brand {
	font-size: 16px;
	padding-top: 10px;
}

.h1 { 
    font-size: 110%;
}

</style>

<body>	

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="./index.html">CarteleraPeru.com</a>
    		<span class="pull-right"><button id="btnSave" class="btn btn-primary">Guardar</button></span>
			<span class="pull-right"><a class="btn" href="/">Cancelar</a></span>

		</div>
	</div>
</div>

<div class="container-fluid">
<div class="row-fluid">
<div class="span4">

    <h1 class="hidden-phone">Ajustes</h1>
    <p>Seleccione los cines que desea que aparezcan en su página de Cartelera</p>
    {% for chain in chains %}
    <div class="well">
    <h2>{{ chain.name }}</h2>
        
        <div class="hidden-phone">
            <ul class="unstyled">	
            {% for theater in chain.theaters %}
                <li>
                    <input type="checkbox" 
                        rel="action-item"
                        checked
                        id="{{ theater.name|escape|urlize|replace(' ', '-') }}"> 
                    {{ theater.name }}
                </li>
            {% endfor %}<!-- cine -->
            </ul>
        </div>
        
        <div class="visible-phone hidden-tablet hidden-desktop">
            <select  multiple="multiple">
            {% for theater in chain.theaters %}
                <option 
                    id="{{ theater.name|escape|urlize|replace(' ', '-') }}-sel" 
                    value="{{ theater.name|escape|urlize|replace(' ', '-') }}">
                    {{ theater.name }}
                </option>
            {% endfor %}
            </select>
        
        
        </div>
    </div><!-- end well -->
    
        
    {% endfor %}

</div> <!-- end span6 -->

</div> <!-- end row -->

<div class="row-fluid">
<div class="span12" id="footer">
<ul class="unstyled">
	<li><a href="./about.html">Acerca de CarteleraPeru.com</a></li>
	<li>Actualizado: {{ now }}</li>
</ul>
</div>
<div class="span1"></div>
</div>
</div><!-- end container -->


<script type="text/javascript" src="static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="static/js/json2.js"></script>
<script type="text/javascript" src="static/js/jquery.cookie.js"></script>

<script src="static/js/bootstrap.min.js"></script>

<script type="text/javascript">

 	$(document).ready(function(){

 		var cookieName = 'cartelera';
 		var cookieVersion = 1.1;
 	
		function initialize(data) {

			if (data['version']==cookieVersion) {
				delete data['version'];
				for (var key in data) {
					if (data[key]) {
						$('#'+ key).attr('checked', '');
						$('#'+key+"-sel").attr('selected','');
						
					} else {
						$('#'+ key).removeAttr('checked');
						$('#'+ key + "-sel").removeAttr('selected');
					}

				}
			}
		}

		function saveCookie()  {
			// no cookie set, initialize defaults and set cookie
			var data = new Object();
			
			data['version'] = cookieVersion;  // data format version

			// iterate checkboxes and retrive values
			$("[rel='action-item']").map(function(){
				data[this.id]=this.checked;
			});

			// set cookie
			$.cookie(cookieName, data, { expires: 360 });
		}


        $('#btnSave').on('click', function(e) {
            saveCookie();
            window.href.location='/';
        });
        

		$.cookie.json = true;
		if ($.cookie(cookieName) ) {
			// cookie exists, read contents
			var data = $.cookie(cookieName);
			initialize(data);

		} else {
		    // First version
			saveCookie();
		}




	});


</script>


<script type="text/javascript">


  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32882889-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
